# EDA

=> EDA - EXPLORATORY DATA ANALSIS

=> DATA CLEANING ,TRANSFORMATION,COMBINE

=> VISUALIZATION

#### PACKAGES

NUMPY,PANDAS,MATPLOTIB

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df_deliveries_data=pd.read_csv("D:/REGEX/DAY_9/IPL Ball-by-Ball 2008-2020.csv")

In [6]:
match_data=pd.read_csv("D:/REGEX/DAY_9/IPL Matches 2008-2020.csv")

In [7]:
print(match_data.head())

       id        city        date player_of_match  \
0  335982   Bangalore  2008-04-18     BB McCullum
1  335983  Chandigarh  2008-04-19      MEK Hussey
2  335984       Delhi  2008-04-19     MF Maharoof
3  335985      Mumbai  2008-04-20      MV Boucher
4  335986     Kolkata  2008-04-20       DJ Hussey

                                        venue  neutral_venue  \
0                       M Chinnaswamy Stadium              0
1  Punjab Cricket Association Stadium, Mohali              0
2                            Feroz Shah Kotla              0
3                            Wankhede Stadium              0
4                                Eden Gardens              0

                         team1                        team2  \
0  Royal Challengers Bangalore        Kolkata Knight Riders
1              Kings XI Punjab          Chennai Super Kings
2             Delhi Daredevils             Rajasthan Royals
3               Mumbai Indians  Royal Challengers Bangalore
4        Kolkata Knight Riders              Deccan Chargers

                   toss_winner toss_decision                       winner  \
0  Royal Challengers Bangalore         field        Kolkata Knight Riders
1          Chennai Super Kings           bat          Chennai Super Kings
2             Rajasthan Royals           bat             Delhi Daredevils
3               Mumbai Indians           bat  Royal Challengers Bangalore
4              Deccan Chargers           bat        Kolkata Knight Riders

    result  result_margin eliminator method    umpire1         umpire2
0     runs          140.0          N    NaN  Asad Rauf     RE Koertzen
1     runs           33.0          N    NaN  MR Benson      SL Shastri
2  wickets            9.0          N    NaN  Aleem Dar  GA Pratapkumar
3  wickets            5.0          N    NaN   SJ Davis       DJ Harper
4  wickets            5.0          N    NaN  BF Bowden     K Hariharan

In [8]:
print(df_deliveries_data.head())

       id  inning  over  ball      batsman  non_striker     bowler  \
0  335982       1     6     5   RT Ponting  BB McCullum  AA Noffke
1  335982       1     6     6  BB McCullum   RT Ponting  AA Noffke
2  335982       1     7     1  BB McCullum   RT Ponting     Z Khan
3  335982       1     7     2  BB McCullum   RT Ponting     Z Khan
4  335982       1     7     3   RT Ponting  BB McCullum     Z Khan

   batsman_runs  extra_runs  total_runs  non_boundary  is_wicket  \
0             1           0           1             0          0
1             1           0           1             0          0
2             0           0           0             0          0
3             1           0           1             0          0
4             1           0           1             0          0

  dismissal_kind player_dismissed fielder extras_type           batting_team  \
0            NaN              NaN     NaN         NaN  Kolkata Knight Riders
1            NaN              NaN     NaN         NaN  Kolkata Knight Riders
2            NaN              NaN     NaN         NaN  Kolkata Knight Riders
3            NaN              NaN     NaN         NaN  Kolkata Knight Riders
4            NaN              NaN     NaN         NaN  Kolkata Knight Riders

                  bowling_team
0  Royal Challengers Bangalore
1  Royal Challengers Bangalore
2  Royal Challengers Bangalore
3  Royal Challengers Bangalore
4  Royal Challengers Bangalore

DESCRIBE FUNCTION

In [10]:
match_data.describe()

                 id  neutral_venue  result_margin
count  8.160000e+02     816.000000     799.000000
mean   7.563496e+05       0.094363      17.321652
std    3.058943e+05       0.292512      22.068427
min    3.359820e+05       0.000000       1.000000
25%    5.012278e+05       0.000000       6.000000
50%    7.292980e+05       0.000000       8.000000
75%    1.082626e+06       0.000000      19.500000
max    1.237181e+06       1.000000     146.000000

In [11]:
df_deliveries_data.describe()

,id,inning,over,ball,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket
count,1.934680e+05,193468.000000,193468.000000,193468.000000,193468.000000,193468.000000,193468.000000,193468.000000,193468.000000
mean,7.567688e+05,1.482131,9.177027,3.615967,1.240231,0.066414,1.306645,0.000083,0.049078
std,3.060971e+05,0.499682,5.676848,1.807128,1.610867,0.339991,1.598802,0.009094,0.216031
min,3.359820e+05,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.012270e+05,1.000000,4.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.292970e+05,1.000000,9.000000,4.000000,1.000000,0.000000,1.000000,0.000000,0.000000
75%,1.082628e+06,2.000000,14.000000,5.000000,1.000000,0.000000,1.000000,0.000000,0.000000
max,1.237181e+06,2.000000,19.000000,9.000000,6.000000,7.000000,7.000000,1.000000,1.000000

INFO FUNCTION

In [12]:
match_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             803 non-null    object
 2   date             816 non-null    object
 3   player_of_match  812 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           812 non-null    object
 11  result           812 non-null    object
 12  result_margin    799 non-null    float64
 13  eliminator       812 non-null    object
 14  method           19 non-null     object
 15  umpire1          816 non-null    object
 16  umpire2          816 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 108.5+ KB

In [13]:
df_deliveries_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193468 entries, 0 to 193467
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   id                193468 non-null  int64
 1   inning            193468 non-null  int64
 2   over              193468 non-null  int64
 3   ball              193468 non-null  int64
 4   batsman           193468 non-null  object
 5   non_striker       193468 non-null  object
 6   bowler            193468 non-null  object
 7   batsman_runs      193468 non-null  int64
 8   extra_runs        193468 non-null  int64
 9   total_runs        193468 non-null  int64
 10  non_boundary      193468 non-null  int64
 11  is_wicket         193468 non-null  int64
 12  dismissal_kind    9495 non-null    object
 13  player_dismissed  9495 non-null    object
 14  fielder           6784 non-null    object
 15  extras_type       10233 non-null   object
 16  batting_team      193468 non-null  object
 17  bowling_team      193277 non-null  object
dtypes: int64(9), object(9)
memory usage: 26.6+ MB