DAY 5

SET

In [1]:
# set => datatype which store only the unique & it is a function
# unordered 
# not have index
myset=set({})
print (type(myset))

<class 'set'>

In [2]:
myset={10,20,34,45,90}
print(myset)

{34, 20, 90, 10, 45}

INSERT DATA IN SET

In [5]:
myset={10,20,34,45,90}
myset.add(21)
print(myset)

{34, 20, 90, 21, 10, 45}

DELETE ELEMENT FROM THE SET

In [8]:
myset={10,20,34,45,90}
myset.discard(21)
print(myset)

{34, 20, 90, 10, 45}

UNION OF 2 SET

In [9]:
set1={20,30,40,56,57}
set2={34,56,78,90}
set1.union(set2)

{20, 30, 34, 40, 56, 57, 78, 90}

COMMON ELEMENT OF BOTH SET

In [10]:
set1={20,30,40,56,57}
set2={34,56,78,90}
set1.intersection(set2)

{56}

COUNT NUMBER OF WORDS

In [15]:
h="hey i am shankar kumar jaiswal"
count=0
mylist=h.split()
print(mylist)
for i in mylist:
    count=count+1
    print(i)
print(count)

['hey', 'i', 'am', 'shankar', 'kumar', 'jaiswal']
hey
i
am
shankar
kumar
jaiswal
6

FIND DUPLICATE VALUE

In [19]:
h="hey i am shankar kumar jaiswal jaiswal" 
mylist=h.split()
print(mylist)
for i,j in enumerate(mylist): # i = index(0) , j(data)
    for k in range (i+1,len(mylist)): # len(mylist)= 7
       if(j==mylist[k]):
           print(f"DUPLICATE VALUE : {j}")

['hey', 'i', 'am', 'shankar', 'kumar', 'jaiswal', 'jaiswal']
DUPLICATE VALUE : jaiswal

FUNCTION

In [21]:
# function => piece of code => task perform
# inbuilt functions and second is user-defined functions
# CODE READABLE

USER DEFINE FUNCTION

In [47]:
# FUNCTION CREATION
def func():
    print("hello skj")
    print("skj")

In [48]:
# FUNCTION CALLING
func()
func()

hello skj
skj
hello skj
skj

PARAMETERIZE FUNCTION

In [46]:
# function creation
x=input("enter the value of x : ")
def func(x): # x => parameter (AS A VARIABLE)
    print(f"helloooo... {x}!!")

# function calling
func(x) # x => argument

# PARAMETER => VARIABLE AT FUNCTION CREATION
# ARGUMENT => VARIABLE AT FUNCTION CALLING TIME

helloooo... E3!!

FUNCTION VARIABLE LIFESPANE

In [ ]:
# FUNCTION LIFE IS INSIDE THE VARIBLE => IT IS ALSO CALLED LOCAL SCOPE OF VARIABLE
def func(x1): # x1 => parameter (AS A VARIABLE)
    print(f"helloooo... {x1}!!")

func("SKJ")
print(x1)

helloooo... SKJ!!

NameError: name 'x1' is not defined

TAKE NUMBER & PRINT FACTORS OF THAT NUMBER

In [40]:
# factor function creation :-
def factor_num(num):
    print(f"FACTORS OF {num} :",end=" ")
    for i in range (1,num +1):
        if (num%i==0):
            print(f"{i}",end=" ")

# factor function calling
factor_num(34)

FACTORS OF 34 : 1 2 17 34

MULTI PARAMETER FUNCTION

In [42]:
def func(a,b,c):
    print(f"A : {a} , B : {b} , C : {c}")

# function call
func(10,20,30)
func(20,30,10)

A : 10 , B : 20 , C : 30
A : 20 , B : 30 , C : 10

KEYWORD ARGUMENT IN FUNCTION

In [49]:
# keywords => Keyword arguments in Python are arguments that are passed to a function with a name (keyword) and value.
def func(a,b,c,d):
    print(f"A : {a} , B : {b} , C : {c} , D : {d}")

# function call with keyword argument
func(b=10,a=20,d=43,c=32)

A : 20 , B : 10 , C : 32 , D : 43

DEFAULT ARGUMENT

In [50]:
def func(a,b,c,d=1000): # d= 1000 default argument
    print(f"A : {a} , B : {b} , C : {c} , D : {d}")

# function call with DEFAULT argument
func(b=10,a=20,c=32)
func(b=10,a=20,c=32,d=45)

A : 20 , B : 10 , C : 32 , D : 1000
A : 20 , B : 10 , C : 32 , D : 45

*ARGS => VARIABLE LENGTH ARGUMENT

In [ ]:
# *ARGS
# TUPLE FORMAT DATA STORE
def func(*data):
    print(data,type(data))

func(10,20)
func(45,34,667,9,0,7,6,43)

(10, 20) <class 'tuple'>
(45, 34, 667, 9, 0, 7, 6, 43) <class 'tuple'>

**KWARGS => KEYWORD VARIABLE LENGTH ARGUMENT => **

In [60]:
# **KWAGS 
# DICTIONARY FORMAT DATA STORE
def func(**data):
    print(data,type(data))

func(id=10,salary=34)
func(id=10,salary=34,name="sahil")

{'id': 10, 'salary': 34} <class 'dict'>
{'id': 10, 'salary': 34, 'name': 'sahil'} <class 'dict'>

RETURN IN FUNCTION

In [64]:
def func(num):
    # print(num*5)
    return (num*5)

x=func(10)
print(f"FUNCTION VALUE : {x}")

FUNCTION VALUE : 50

LAMBDA FUNCTION

In [73]:
#lambda parameter : expression
x = lambda num: num*5 
x(4)

20

LAMBDA FUNCTION AS A FUNCTION

In [ ]:
# function (4)
# HERE 
# => function => lambda num: num*5 
(lambda num: num*5)(4)

20

AUTOMATION TOOLS

In [76]:
# AUTOMATION PLATFORM 
# => MAKE.COM

In [79]:
# HOMEWORK
# => google sheet ENTRY => LINKEDIN POST