# DAY 11

### MACHINE LEARNING WORKS ON NUMBER

#### DATA PREPROCESSING

STANDARIZATION -> MEAN =0 , std=1

normal distribution -> calculation easy (model train fast)

In [40]:
import numpy as np
import pandas as pd

In [41]:
df=pd.read_csv("D:/REGEX/DAY_11/covid_toy.csv")

In [42]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

STEP 1 : CHEAK MISSING DATA AND HANDING MISSING DATA

In [43]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [44]:
from sklearn.impute import SimpleImputer
si=SimpleImputer(strategy='mean')

In [45]:
# df=SimpleImputer.fit_transform(df)
df['fever']=si.fit_transform(df[['fever']]) # fit means learn from the parameter and transform means apply to that data

In [46]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [47]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [48]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [49]:
df['gender'].value_counts()

gender
Female    59
Male      41
Name: count, dtype: int64

In [50]:
df['gender']=df['gender'].map({"Female":0,"Male":1})

In [51]:
df.head()

   age  gender  fever cough     city has_covid
0   60       1  103.0  Mild  Kolkata        No
1   27       1  100.0  Mild    Delhi       Yes
2   42       1  101.0  Mild    Delhi        No
3   31       0   98.0  Mild  Kolkata        No
4   65       0  101.0  Mild   Mumbai        No

In [52]:
df["cough"].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [53]:
df['cough']=df['cough'].map({"Mild":0,"Strong":1})

In [54]:
df.head()

   age  gender  fever  cough     city has_covid
0   60       1  103.0      0  Kolkata        No
1   27       1  100.0      0    Delhi       Yes
2   42       1  101.0      0    Delhi        No
3   31       0   98.0      0  Kolkata        No
4   65       0  101.0      0   Mumbai        No

In [55]:
df['city'].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [56]:
df['city']=df["city"].map({"Kolkata":0,"Bangalore":1,"Delhi":2,"Mumbai":3})

In [57]:
df.head()

   age  gender  fever  cough  city has_covid
0   60       1  103.0      0     0        No
1   27       1  100.0      0     2       Yes
2   42       1  101.0      0     2        No
3   31       0   98.0      0     0        No
4   65       0  101.0      0     3        No

In [58]:
df['has_covid'].value_counts()

has_covid
No     55
Yes    45
Name: count, dtype: int64

In [59]:
df['has_covid']=df['has_covid'].map({"No":0,"Yes":1})

In [60]:
df.head()

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     0          0
1   27       1  100.0      0     2          1
2   42       1  101.0      0     2          0
3   31       0   98.0      0     0          0
4   65       0  101.0      0     3          0

#### STEP 2 : DATA DIVIDATION TECHNIQUES

In [61]:
x=df.drop(columns=['has_covid'])
y=df['has_covid']

In [62]:
from sklearn.model_selection import train_test_split

In [63]:
x_train,x_text,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [64]:
np.round(x_train.describe(),2)

         age  gender   fever  cough   city
count  80.00   80.00   80.00  80.00  80.00
mean   42.91    0.41  100.98   0.40   1.26
std    24.47    0.50    1.93   0.49   1.06
min     5.00    0.00   98.00   0.00   0.00
25%    20.00    0.00  100.00   0.00   0.00
50%    42.00    0.00  101.00   0.00   1.00
75%    65.00    1.00  102.00   1.00   2.00
max    84.00    1.00  104.00   1.00   3.00

#### STANDARIZATION METHOD

In [65]:
from sklearn.preprocessing import StandardScaler

In [66]:
sc=StandardScaler()
x_train_sc=sc.fit_transform(x_train)

In [67]:
type(x_train_sc)

numpy.ndarray

In [68]:
x_train.columns

Index(['age', 'gender', 'fever', 'cough', 'city'], dtype='object')

In [70]:
x_train_new=pd.DataFrame(x_train_sc,columns=x_train.columns)

In [72]:
np.round(x_train_new.describe(),2) # value 2.00000 -> 2.00

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean   -0.00    0.00  -0.00  -0.00   0.00
std     1.01    1.01   1.01   1.01   1.01
min    -1.56   -0.84  -1.56  -0.82  -1.19
25%    -0.94   -0.84  -0.51  -0.82  -1.19
50%    -0.04   -0.84   0.01  -0.82  -0.25
75%     0.91    1.19   0.53   1.22   0.70
max     1.69    1.19   1.57   1.22   1.64

(2) NORMALIZATION -> min_value=0,max_val=1

In [73]:
from sklearn.preprocessing import MinMaxScaler

In [74]:
mn=MinMaxScaler()

In [75]:
x_train_mn=mn.fit_transform(x_train)

In [76]:
x_train_new=pd.DataFrame(x_train_mn,columns=x_train.columns)

In [77]:
np.round(x_train_new.describe(),2)

         age  gender  fever  cough   city
count  80.00   80.00  80.00  80.00  80.00
mean    0.48    0.41   0.50   0.40   0.42
std     0.31    0.50   0.32   0.49   0.35
min     0.00    0.00   0.00   0.00   0.00
25%     0.19    0.00   0.33   0.00   0.00
50%     0.47    0.00   0.50   0.00   0.33
75%     0.76    1.00   0.67   1.00   0.67
max     1.00    1.00   1.00   1.00   1.00

# ENCODING

#### IT CONVERT CATIGORICAL DATA IN NUMBERICAL DATA

In [79]:
df=pd.read_csv("D:/REGEX/DAY_11/covid_toy.csv")

In [80]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [84]:
df.dropna()

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[90 rows x 6 columns]

import library

In [81]:
from sklearn.preprocessing import LabelEncoder

make the object

In [83]:
lb=LabelEncoder()

In [85]:
df['gender']=lb.fit_transform(df['gender'])

In [86]:
df.head()

   age  gender  fever cough     city has_covid
0   60       1  103.0  Mild  Kolkata        No
1   27       1  100.0  Mild    Delhi       Yes
2   42       1  101.0  Mild    Delhi        No
3   31       0   98.0  Mild  Kolkata        No
4   65       0  101.0  Mild   Mumbai        No

In [87]:
df['cough']=lb.fit_transform(df['cough'])
df['city']=lb.fit_transform(df['city'])
df['has_covid']=lb.fit_transform(df['has_covid'])

In [88]:
df.head()

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1
2   42       1  101.0      0     1          0
3   31       0   98.0      0     2          0
4   65       0  101.0      0     3          0