LIST

In [6]:
# LIST 
# DATATYPE
# MULTIPLE VALUE KO STORE THEY CAN BE OF ANY 
mylist=[10,20,30,"abc","regex",10.0]
print(type(mylist))
print(mylist [-2])
mylist.append(900) # at last 900 added
print(mylist)
mylist[1]=300 # update the 20 to 300
print(mylist)

<class 'list'>
regex
[10, 20, 30, 'abc', 'regex', 10.0, 900]
[10, 300, 30, 'abc', 'regex', 10.0, 900]

DELETE OPERATION ON LIST

In [7]:
mylist=[10,20,30,"abc","regex",10.01]
x=mylist.pop()
print(mylist,x)

[10, 20, 30, 'abc', 'regex'] 10.01

SORT & REVERSE IN LIST

In [9]:
mylist=[10,20,100,4,76,4]
mylist.sort() # to sort data
print(mylist)
mylist.reverse() # reverse the data
print(mylist)

[4, 4, 10, 20, 76, 100]
[100, 76, 20, 10, 4, 4]

LOOP ON LIST

In [11]:
mylist=[10,20,30,1,90,23]
for index in range (0,6):
    print(index,mylist[index])

0 10
1 20
2 30
3 1
4 90
5 23

TO PRINT EVEN NUMBER FROM THE LIST

In [ ]:
mylist=[10,20,30,1,90,23]
for index in range (0,6):
    if (mylist[index]%2==0):
      print(index,mylist[index])

0 10
1 20
2 30
4 90

MAXIMUM ELEMENT IN LIST

In [ ]:
mylist=[10,20,30,1,90,23]
max1=mylist[0]
for index in range (0,6):
    if (mylist[index]>max1):
      max1=mylist[index]

print("maximum element",max1)

maximum eklement 90

In [15]:
for i in range (1,5):
    print("student",i)
    for j in range (1,2):
        print("Test",j)

student 1
Test 1
student 2
Test 1
student 3
Test 1
student 4
Test 1

In [ ]:
for i in range (1,5):
    print("student",i)
    for j in range (1,i+1):
        print("Test",j)
    print("--------TEA BREAK---------")

student 1
Test 1
--------TEA BREAK---------
student 2
Test 1
Test 2
--------TEA BREAK---------
student 3
Test 1
Test 2
Test 3
--------TEA BREAK---------
student 4
Test 1
Test 2
Test 3
Test 4
--------TEA BREAK---------

In [22]:
for i in range (1,5):
    print("student",i)
    for j in range (1,6-i):
        print("Test",j,end=" ")
    print("\n--------TEA BREAK---------")

student 1
Test 1 Test 2 Test 3 Test 4
--------TEA BREAK---------
student 2
Test 1 Test 2 Test 3
--------TEA BREAK---------
student 3
Test 1 Test 2
--------TEA BREAK---------
student 4
Test 1
--------TEA BREAK---------

STAR PATTERN

In [25]:
for i in range (1,5):
    print(" * ")
    for j in range (1,6-i):
        print(" * ",end=" ")
    print("\n")

 *
 *   *   *   *

 *
 *   *   *

 *
 *   *

 *
 *

In [28]:
for i in range (1,5):
    for j in range (1,6-i):
        print("*",end=" ")
    print(" ")

* * * *
* * *
* *
*

In [66]:
# 1
# 2 2
# 3 3 3
# 4 4 4 4
for i in range (1,6):
    for j in range (0,i):
        print(i,end=" ")
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [67]:
# 1 1 1 1 
# 2 2 2
# 3 3
# 4
for i in range (1,6):
    for j in range (0,6-i):
        print(i,end=" ")
    print(" ")

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [ ]:
#  * * * *
#  *     *
#  *     *
#  * * * *

In [37]:
mylist=[10,20,30,1,90,23]
for index1 in range (0,6):
    curr=mylist[index1]
    for index2 in range (index1+1,6):
        next = mylist[index2]
        print(curr,next)

10 20
10 30
10 1
10 90
10 23
20 30
20 1
20 90
20 23
30 1
30 90
30 23
1 90
1 23
90 23

2 SUM PROBLEM

In [38]:
mylist=[10,20,30,1,90,23]
for index1 in range (0,6):
    curr=mylist[index1]
    for index2 in range (index1+1,6):
        next = mylist[index2]
        if(curr+next==110):
            print(f"TWO NUMBER THAT SUM IS 110 = {curr,next}")

TWO NUMBER THAT SUM IS 110 = (20, 90)

TUPLES

In [ ]:
#TUPLE
# ARE IMMUTABLE => WE CANNOT CHANGE THE DATA
x=(10,20)
print(type(x))

<class 'tuple'>

INDEX FUNCTION IN TUPLE

In [40]:
x=(10,20,30,"abc",34)
x.index(20)

1

COUNT IN TUPLE

In [42]:
x=(10,20,30,"abc",34)
x.count(10)

1

HELP IN TUPLE

In [44]:
help(x)

Help on tuple object:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(object, /)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.