# DAY 8

## PANDAS

=> USE TO CLEAN AND TRANSFORM DATA

=> POWERFUL -> BUILD UPON NUMPY

=> STRUCTURE FORMAT OF DATA

=> ROWS AND COLUMNS

=> DATAFRAME -> SERIES OF COMBINATION

=> SERIES : 1 COLUMN [VECTOR] -> 1D ARRAY

In [4]:
import pandas as pd

In [ ]:
pd.Series([10,20,30,70])

0    10
1    20
2    30
3    40
dtype: int64

In [7]:
import pandas as pd
markSeries = pd.Series([1, 2, 3, 4])
print(markSeries)

0    1
1    2
2    3
3    4
dtype: int64

In [8]:
# import pandas as pd
# s = pd.Series([1, 2, 3, 4])
# print(s)
# s.index         # Get index
# s.dtype         # Data type
# s.shape         # Shape (number of elements,)
# s.size          # Total number of elements
# s.name          # Name of the Series
# s.values        # Numpy array of values

In [10]:
# "20"=> object datatype or non-numerical datatype
import pandas as pd
markSeries= pd.Series([10,20.1,"30",70])
print(markSeries)
print(markSeries.index)

0      10
1    20.1
2      30
3      70
dtype: object
RangeIndex(start=0, stop=4, step=1)

#### INDEX CHANGE IN PANDAS

In [11]:
import pandas as pd
markSeries= pd.Series([10,20.1,"30",70],index=["A","B","C","D"])
print(markSeries)
print(markSeries["C"])

A      10
B    20.1
C      30
D      70
dtype: object
30

#### IF INDEX SAME IN PANDAS

In [15]:
import pandas as pd
markSeries= pd.Series([10,20.1,"30",70],index=["A","B","A","D"])
print(markSeries)
print(markSeries["A"])

A      10
B    20.1
A      30
D      70
dtype: object
A    10
A    30
dtype: object

#### CHANGING VALUE USING INDEX

In [13]:
import pandas as pd
markSeries= pd.Series([10,20,30,70],index=["A","B","C","D"])
print(markSeries)
markSeries["A"]=900
print(markSeries)

A    10
B    20
C    30
D    70
dtype: int64
A    900
B     20
C     30
D     70
dtype: int64

#### keyvalue or dictionary convertion

In [19]:
import pandas as pd
markSeries= pd.Series([10,20,30,70],index=["A","B","C","D"])
print(markSeries)
new_markSeries=markSeries.to_dict()
print(new_markSeries)

A    10
B    20
C    30
D    70
dtype: int64
{'A': 10, 'B': 20, 'C': 30, 'D': 70}

#### Descriptive Statistics in PANDAS

In [20]:
# s.mean()        # Average
# s.median()      # Median
# s.mode()        # Mode
# s.std()         # Standard deviation
# s.var()         # Variance
# s.min()         # Minimum
# s.max()         # Maximum
# s.sum()         # Sum
# s.count()       # Count non-NA values
# s.describe()    # Summary stats

In [24]:
import pandas as pd
markSeries= pd.Series([10,20,30,70],index=["A","B","C","D"])
print(markSeries.idxmax)
print(markSeries.min)

<bound method Series.idxmax of A    10
B    20
C    30
D    70
dtype: int64>
<bound method Series.min of A    10
B    20
C    30
D    70
dtype: int64>

#### VALUE COUNT

In [25]:
import pandas as pd
markSeries= pd.Series([10,20,30,70],index=["A","B","C","D"])
print(markSeries.value_counts())

10    1
20    1
30    1
70    1
Name: count, dtype: int64

#### TO MAKE SORTING IN DESCENDING ORDER

In [28]:
import pandas as pd
markSeries= pd.Series([10,90,30,70],index=["A","B","C","D"])
p= markSeries.sort_index(ascending=False)
print(p)

D    70
C    30
B    90
A    10
dtype: int64

In [30]:
import pandas as pd
markSeries= pd.Series([10,90,30,70],index=["A","B","C","D"])
p= markSeries.sort_values(ascending=False)
print(p)

B    90
D    70
C    30
A    10
dtype: int64

#### COUNT UNIQUE

In [32]:
import pandas as pd
markSeries= pd.Series([10,90,30,30],index=["A","B","C","D"])
print(markSeries)
p= markSeries.unique
print(p)

A    10
B    90
C    30
D    30
dtype: int64
<bound method Series.unique of A    10
B    90
C    30
D    30
dtype: int64>

#### DROP DUPLICATE

In [34]:
import pandas as pd
markSeries= pd.Series([10,90,30,30],index=["A","B","C","D"])
print(markSeries)
p= markSeries.drop_duplicates(keep="last") # first last false
print(p)

A    10
B    90
C    30
D    30
dtype: int64
A    10
B    90
D    30
dtype: int64

DUPLICATE FUNCTION

In [35]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 1, 2, 3, 3],
    'B': ['x', 'x', 'y', 'z', 'z']
})

# Drop duplicate rows
df_cleaned = df.drop_duplicates()
df.drop_duplicates(subset='A')                # Drop duplicates based on column A
df.drop_duplicates(subset=['A', 'B'])         # Based on multiple columns
df.drop_duplicates(keep='last')               # Keep last occurrence
df.drop_duplicates(keep=False)                # Drop all duplicates
df.drop_duplicates(inplace=True)              # Modify in place
df.drop_duplicates(ignore_index=True)         # Reset index in the result

   A  B
0  1  x
1  2  y
2  3  z

### JSON

JAVASCRIPT OBJECT NOTATION

In [41]:
# COLUMN
# JSON FORMAT
data={"product":["apple","laptop"],"amount":[50000,105000]}
df=pd.DataFrame(data)
print(df)
print(type(df))

  product  amount
0   apple   50000
1  laptop  105000
<class 'pandas.core.frame.DataFrame'>

In [ ]:
product_column=df["product"]
print(product_column)
print(type(product_column))   # series -> column selected

0     apple
1    laptop
Name: product, dtype: object
<class 'pandas.core.series.Series'>

### CSV

COMMA SEPERATED VALUES

1,AMAN,REGEX

### TSB

TAB SEPERATED VALUE

1    AMAN    REGEX

### DSV

=> DELIMITTER SEPERATED VALUE

1$AMAN$REGEX