24 JUNE, 2025

DICTIONARY

In [1]:
# dictionary
mylist=[10,20,30]
mylist.insert(0,40)
print(mylist) # time complexity => 0(n)

[40, 10, 20, 30]

In [ ]:
# Dictonary : key and value pair
# dictionary don't have index
# mutuable
# ordered (fixed) after 3.7 version of python 
# key -> unique , value can be duplicate or can be unique
#

In [3]:
mystudent={10: "aman",11:"yash"}
print (mystudent)

{10: 'aman', 11: 'yash'}

TO UPDATE DICTIONARY

In [4]:
mystudent={10: "aman",11:"yash"}
mystudent[10]="ishaan" # update
print (mystudent)

{10: 'ishaan', 11: 'yash'}

TO INSER T IN DICTIONARY

In [5]:
mystudent={10: "aman",11:"yash"}
mystudent[12]="naina" # insert
print(mystudent)

{10: 'aman', 11: 'yash', 12: 'naina'}

TO DELETE THE DATA OF THE DICTIONARY

In [8]:
mystudent={10: "aman",11:"yash",12: 'naina'}
mystudent.pop(11) # delete data
print(mystudent)

{10: 'aman', 12: 'naina'}

In [12]:
mycompany={"HR":['RAJ','NAINA']}
print(mycompany)
print(mycompany["HR"])

{'HR': ['RAJ', 'NAINA']}
['RAJ', 'NAINA']

ENUMERATE FUNCTION

In [13]:
for i,j in enumerate([10,20,30]):
    print(i,j)

0 10
1 20
2 30

KON BANAGE CROREPATI PROJECT

In [14]:
myamount=[10000,20000]

In [45]:
print("WELCOME TO KON BANAGE CORROREPATI")
questionBank=[{"Question": "Who is the father of nation ?",
               "option": ["A. NATHU RAM GODSE","B. PULKIT","C. SAHIL","D. MAHATMA GANDHI"],
               "answer":"D"
               },
               {"Question": "FULL FORM OF SKJ",
                "option":["A. SHANKAR KUMAR JAISWAL","B. SAHIL AGARWAL JAIN","C. SAR KAT JAYA","D. SHIVANSH KUMAR JANGIR"],
                "answer":"A"},
               ]

total_amount=0
for i,q in enumerate(questionBank):
    # print(q["Question"])
    print(f"QUESTION FOR Rs  {myamount[i]} is \n    {i+1}. {q['Question']} : ")
    for option in q['option']:
        print(f"\t{option}")
    user_input=input("ENTER THE OPTION A / B / C / D /QUIT => EXIT : ").upper()
    if (user_input==q['answer']):
        total_amount +=myamount[i]
        print(f"\n \t ----- \t AAPNA JEETA HA KUL Rs. {total_amount} /- ONLY \t-----\n")
    elif(user_input=="QUIT"):
        print("kaha party karna pasand karage!!")
    else:
        print("GAME OVER! AAPKA KHEL KHATAM HOTA HA!!")
        print(f"\n \t ----- \t AAPNA JEETA HA KUL Rs. {total_amount} /- ONLY \t-----\n")
        break

WELCOME TO KON BANAGE CORROREPATI
QUESTION FOR Rs  10000 is
    1. Who is the father of nation ? :
	A. NATHU RAM GODSE
	B. PULKIT
	C. SAHIL
	D. MAHATMA GANDHI

 	 ----- 	 AAPNA JEETA HA KUL Rs. 10000 /- ONLY 	-----

QUESTION FOR Rs  20000 is
    2. FULL FORM OF SKJ :
	A. SHANKAR KUMAR JAISWAL
	B. SAHIL AGARWAL JAIN
	C. SAR KAT JAYA
	D. SHIVANSH KUMAR JANGIR

 	 ----- 	 AAPNA JEETA HA KUL Rs. 30000 /- ONLY 	-----

LIST COMPHREHENSION

In [46]:
# shorter way to create new list

In [57]:
newlist=[]
for i in range(1, 10):
    newlist.append(i)
    # print(i,newlist)

print(f"THE LIST => {newlist}")

THE LIST => [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
# apply list comphrehension
[i for i in range (1,10)] # list comphrehension

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
[i+5 for i in range (1,10)] # list comphrehension

[6, 7, 8, 9, 10, 11, 12, 13, 14]

DICTIONARY COMPHREHENSION

In [53]:
{i:i**2 for i in range (1,10)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}